body{
  background-color: lightgray;
}

h1, h3{
  margin: 80px 0;
}

h1{
  font-family: Eczar, serif;
  font-size: 52px;
  font-weight: bold;
}

h3{
  font-style: italic;
}

img{
  margin: 0 auto;
}

#caption-image{
  padding: 5px 20px;
  font-size: 12px;
}

#photoe{
  margin: 0 155px;
  background-color: #fff;
}
@media (max-width: 800px){
#photoe{
  margin: 0 5px;
  background-color: #fff;
}
}

span{
  font-weight: bold;
}

.history{
  margin-bottom: 20px;
}

ul, p, i{
  margin: 0 20%;
}

p{
  padding-bottom: 20px;
}

#quote{
  font-size: 18px;
  font-weight: bold;
}

#link{
  font-size: 24px;
}

#who{
  color: gray;
  font-size: 14px;
  padding-left: 40px;
  margin-bottom: 20px;
  font-style: italic;
}